<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m.hiddentalent.mfm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.TabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.RadioActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.EmissionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.PodcastActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.EvenementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="m.hiddentalent.mfm.ContactActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>